{
    "db_user": "user",
    "db_password": "pwd",
    "db_host": "localhost",
    "db_name": "myDb",
    "db_table": "table",
    "db_driver": "mysql",

    "search_fields": ["title", "body"], // use "*" to search in all columns
    "display_fields": ["id", "title", "link"], // use "*" to return all columns

    // ORDER BY string
    "default_order": "fieldName ASC" // else leave empty
}


// desired: 
{
  "connection": {
    "driver": "mysql",
    "host": "localhost",
    "user": "user",
    "password": "***",
    "db": "myDb",
  },
  "tables": [{
    "name": "one_table",
    "fields": {
      "toMatch": ["title", "body"], // use "*" to search ALL
      "toSelect": ["id", "title", "link"], // use "*" to search ALL
      "defaultOrder": "field ASC" // or leave EMPTY
    }
  }]
}
